<?xml version="1.0" encoding="UTF-8"?>
<beans
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:context="http://www.springframework.org/schema/context"  
    xmlns:mvc="http://www.springframework.org/schema/mvc"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-3.0.xsd
		http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">
       
       <!-- 扫描控制类，雷士用注解进行配置
       		把com.jsdx.controller包中所有的有@Controller注解的类进行扫描，
       		并创建这些类的对象存储到SpringMVC框架的容器中
        -->
       <context:component-scan base-package="com.jsdx.controller"></context:component-scan>
       
       <!-- 启用注解配置 -->
       <mvc:annotation-driven/>
       
       <!-- 视图解析器，Bean节点的作用是框架会自动为这个类创建一个对象 -->
       <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
       		<!-- 为这个类的对象的属性赋值index	/index.jsp -->
       		<property name="prefix" value="/" />
       		<property name="suffix" value=".jsp" />
       </bean>
       
</beans>